In [1]:
import os
import numpy as np
import pandas as pd
os.getcwd()

'C:\\Users\\muddi\\DataScience'

In [2]:
df=pd.read_csv('test1.csv',na_values=['#NAME?'])

In [3]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [5]:
print(df["income"].value_counts())

<=50K    3779
>50K     1221
Name: income, dtype: int64

In [6]:
df["income"]=[0 if x=="<=50K" else 1 for x in df["income"]]
df[:3]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0

In [7]:
x=df.drop('income',1)  #taking everything except income column (independent variable)
y=df["income"]         #income column alone   (dependent variable ==>Series)

In [8]:
y[:3]

0    0
1    0
2    0
Name: income, dtype: int64

In [9]:
x['education'].head(5)

0    Bachelors
1    Bachelors
2      HS-grad
3         11th
4    Bachelors
Name: education, dtype: object

In [10]:
x['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', '?',
       'Prof-school', '5th-6th', '10th', '1st-4th', 'Preschool', '12th'],
      dtype=object)

In [11]:
x['education'].nunique()

17

In [12]:
x["workclass"].value_counts()

Private             3435
Self-emp-not-inc     383
?                    331
Local-gov            329
State-gov            193
Self-emp-inc         182
Federal-gov          146
Without-pay            1
Name: workclass, dtype: int64

In [13]:
x["workclass"].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay'], dtype=object)

In [14]:
x.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country'],
      dtype='object')

In [15]:
x.dtypes

age               float64
workclass          object
fnlwgt            float64
education          object
education_num     float64
marital_status     object
occupation         object
relationship       object
race               object
sex                object
capital_gain        int64
capital_loss        int64
hours_per_week      int64
native_country     object
dtype: object

In [16]:
for col_name in x.columns:
    if x[col_name].dtypes=="object":
        unique_cat=len(x[col_name].unique())
        print("Feature '{col_name}' has '{unique_cat}' unique categories".format(col_name=col_name,unique_cat=unique_cat))

Feature 'workclass' has '8' unique categories
Feature 'education' has '17' unique categories
Feature 'marital_status' has '7' unique categories
Feature 'occupation' has '15' unique categories
Feature 'relationship' has '6' unique categories
Feature 'race' has '6' unique categories
Feature 'sex' has '3' unique categories
Feature 'native_country' has '40' unique categories

In [17]:
x["sex"].unique()

array(['Male', nan, 'Female'], dtype=object)

In [18]:
x["sex"].nunique()

2

In [19]:
for col_name in x.columns:
    if x[col_name].dtypes=="object":
        unique_cat=x[col_name].nunique()     #nan categpry will get eliminated 
        print("Feature '{col_name}' has '{unique_cat}' unique categories".format(col_name=col_name,unique_cat=unique_cat))

Feature 'workclass' has '8' unique categories
Feature 'education' has '17' unique categories
Feature 'marital_status' has '7' unique categories
Feature 'occupation' has '15' unique categories
Feature 'relationship' has '6' unique categories
Feature 'race' has '5' unique categories
Feature 'sex' has '2' unique categories
Feature 'native_country' has '40' unique categories

In [20]:
x["sex"].nunique()

2

In [21]:
x["native_country"].value_counts().sort_values(ascending=False).head(10)

United-States    4465
Mexico            104
?                  97
Canada             28
Germany            22
Philippines        22
El-Salvador        16
England            16
Puerto-Rico        16
China              15
Name: native_country, dtype: int64

In [22]:
x["native_country"].value_counts().sort_values(ascending=True).head(10)

Hong                          1
Scotland                      1
Yugoslavia                    2
Laos                          2
Thailand                      2
Honduras                      3
Outlying-US(Guam-USVI-etc)    3
France                        3
Peru                          3
Cambodia                      4
Name: native_country, dtype: int64

In [23]:
x["native_country"] = ["United-States" if e=="United-States" else "other" for e in x["native_country"]] 
print(x["native_country"].value_counts().sort_values(ascending=False))

United-States    4465
other             535
Name: native_country, dtype: int64

In [24]:
dummy_list=['workclass','education','marital_status','occupation','relationship','race','sex','native_country']

In [25]:
x[:3]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States

In [26]:
def dummy_df(df,dummy_list):
    for e in dummy_list:
        dummies = pd.get_dummies(df[e], prefix=e, dummy_na=False)  #creating dummy for the items so prefix should match the item
        df = df.drop(e,1)
        df = pd.concat([df,dummies],axis=1)
    return df

In [27]:
x=dummy_df(x,dummy_list)

In [28]:
x[:3]

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male,native_country_United-States,native_country_other
0,39.0,77516.0,13.0,2174,0,40,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
1,50.0,83311.0,13.0,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
2,38.0,215646.0,9.0,0,0,40,0,0,0,1,...,0,0,0,0,0,1,0,1,1,0

In [29]:
x.isnull().sum().sort_values(ascending=False).head()

fnlwgt                 107
education_num           57
age                     48
education_Doctorate      0
education_7th-8th        0
dtype: int64

In [30]:
from sklearn.preprocessing import Imputer 
imp=Imputer(missing_values="NaN" , strategy="median" ,axis=0)
imp.fit(x)
x=pd.DataFrame(data=imp.transform(x),columns=x.columns)
#*alternate way == > x=pd.DataFrame(data=imp.fit_transform(x),columns=x.columns)

C:\Users\muddi\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [31]:
x.isnull().sum().sort_values(ascending=False).head()  #null values are imputed with median values

native_country_other    0
education_Bachelors     0
education_5th-6th       0
education_7th-8th       0
education_9th           0
dtype: int64

In [32]:
pd.read_csv('test3.csv')

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.00,111.0,5000.0,21,27,13495.0
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.00,111.0,5000.0,21,27,16500.0
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.00,154.0,5000.0,19,26,16500.0
3,3,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.00,102.0,5500.0,24,30,13950.0
4,4,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.00,115.0,5500.0,18,22,17450.0
5,5,2,NaN,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.50,110.0,5500.0,19,25,15250.0
6,6,1,158.0,audi,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.50,110.0,5500.0,19,25,17710.0
7,7,1,NaN,audi,gas,std,four,wagon,fwd,front,...,136,mpfi,3.19,3.40,8.50,110.0,5500.0,19,25,18920.0
8,8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.40,8.30,140.0,5500.0,17,20,23875.0
9,9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,...,131,mpfi,3.13,3.40,7.00,160.0,5500.0,16,22,NaN
10,10,2,192.0,bmw,gas,std,two,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.80,101.0,5800.0,23,29,16430.0
11,11,0,192.0,bmw,gas,std,four,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.80,101.0,5800.0,23,29,16925.0
12,12,0,188.0,bmw,gas,std,two,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.00,121.0,4250.0,21,28,20970.0
13,13,0,188.0,bmw,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.00,121.0,4250.0,21,28,21105.0
14,14,1,NaN,bmw,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.00,121.0,4250.0,20,25,24565.0
15,15,0,NaN,bmw,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.00,182.0,5400.0,16,22,30760.0
16,16,0,NaN,bmw,gas,std,two,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.00,182.0,5400.0,16,22,41315.0
17,17,0,NaN,bmw,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.00,182.0,5400.0,15,20,36880.0
18,18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,...,61,2bbl,2.91,3.03,9.50,48.0,5100.0,47,53,5151.0
19,19,1,98.0,chevrolet,gas,std,two,hatchback,fwd,front,...,90,2bbl,3.03,3.11,9.60,70.0,5400.0,38,43,6295.0
20,20,0,81.0,chevrolet,gas,std,four,sedan,fwd,front,...,90,2bbl,3.03,3.11,9.60,70.0,5400.0,38,43,6575.0
21,21,1,118.0,dodge,gas,std,two,hatchback,fwd,front,...,90,2bbl,2.97,3.23,9.41,68.0,5500.0,37,41,5572.0
22,22,1,118.0,dodge,gas,std,two,hatchback,fwd,front,...,90,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,6377.0
23,23,1,118.0,dodge,gas,turbo,two,hatchback,fwd,front,...,98,mpfi,3.03,3.39,7.60,102.0,5500.0,24,30,7957.0
24,24,1,148.0,dodge,gas,std,four,hatchback,fwd,front,...,90,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,6229.0
25,25,1,148.0,dodge,gas,std,four,sedan,fwd,front,...,90,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,6692.0
26,26,1,148.0,dodge,gas,std,four,sedan,fwd,front,...,90,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,7609.0
27,27,1,148.0,dodge,gas,turbo,NaN,sedan,fwd,front,...,98,mpfi,3.03,3.39,7.60,102.0,5500.0,24,30,8558.0
28,28,-1,110.0,dodge,gas,std,four,wagon,fwd,front,...,122,2bbl,3.34,3.46,8.50,88.0,5000.0,24,30,8921.0
29,29,3,145.0,dodge,gas,turbo,two,hatchback,fwd,front,...,156,mfi,3.60,3.90,7.00,145.0,5000.0,19,24,12964.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,175,-1,65.0,toyota,gas,std,four,hatchback,fwd,front,...,122,mpfi,3.31,3.54,8.70,92.0,4200.0,27,32,9988.0
176,176,-1,65.0,toyota,gas,std,four,sedan,fwd,front,...,122,mpfi,3.31,3.54,8.70,92.0,4200.0,27,32,10898.0
177,177,-1,65.0,toyota,gas,std,four,hatchback,fwd,front,...,122,mpfi,3.31,3.54,8.70,92.0,4200.0,27,32,11248.0
178,178,3,197.0,toyota,gas,std,two,hatchback,rwd,front,...,171,mpfi,3.27,3.35,9.30,161.0,5200.0,20,24,16558.0
179,179,3,197.0,toyota,gas,std,two,hatchback,rwd,front,...,171,mpfi,3.27,3.35,9.30,161.0,5200.0,19,24,15998.0
180,180,-1,90.0,toyota,gas,std,four,sedan,rwd,front,...,171,mpfi,3.27,3.35,9.20,156.0,5200.0,20,24,15690.0
181,181,-1,NaN,toyota,gas,std,four,wagon,rwd,front,...,161,mpfi,3.27,3.35,9.20,156.0,5200.0,19,24,15750.0
182,182,2,122.0,volkswagen,diesel,std,two,sedan,fwd,front,...,97,idi,3.01,3.40,23.00,52.0,4800.0,37,46,7775.0
183,183,2,122.0,volkswagen,gas,std,two,sedan,fwd,front,...,109,mpfi,3.19,3.40,9.00,85.0,5250.0,27,34,7975.0
184,184,2,94.0,volkswagen,diesel,std,four,sedan,fwd,front,...,97,idi,3.01,3.40,23.00,52.0,4800.0,37,46,7995.0
185,185,2,94.0,volkswagen,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,9.00,85.0,5250.0,27,34,8195.0
186,186,2,94.0,volkswagen,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,9.00,85.0,5250.0,27,34,8495.0
187,187,2,94.0,volkswagen,diesel,turbo,four,sedan,fwd,front,...,97,idi,3.01,3.40,23.00,68.0,4500.0,37,42,9495.0
188,188,2,94.0,volkswagen,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.00,100.0,5500.0,26,32,9995.0
189,189,3,NaN,volkswagen,gas,std,two,convertible,fwd,front,...,109,mpfi,3.19,3.40,8.50,90.0,5500.0,24,29,11595.0
190,190,3,256.0,volkswagen,gas,std,two,hatchback,fwd,front,...,109,mpfi,3.19,3.40,8.50,90.0,5500.0,24,29,9980.0
191,191,0,NaN,volkswagen,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.50,110.0,5500.0,19,24,13295.0
192,192,0,NaN,volkswagen,diesel,turbo,four,sedan,fwd,front,...,97,idi,3.01,3.40,23.00,68.0,4500.0,33,38,13845.0
193,193,0,NaN,volkswagen,gas,std,four,wagon,fwd,front,...,109,mpfi,3.19,3.40,9.00,88.0,5500.0,25,31,12290.0
194,194,-2,103.0,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,23,28,12940.0
195,195,-1,74.0,volvo,gas,std,four,wagon,rwd,front,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,23,28,13415.0
196,196,-2,103.0,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,24,28,15985.0
197,197,-1,74.0,volvo,gas,std,four,wagon,rwd,front,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,24,28,16515.0
198,198,-2,103.0,volvo,gas,turbo,four,sedan,rwd,front,...,130,mpfi,3.62,3.15,7.50,162.0,5100.0,17,22,18420.0
199,199,-1,74.0,volvo,gas,turbo,four,wagon,rwd,front,...,130,mpfi,3.62,3.15,7.50,162.0,5100.0,17,22,18950.0
200,200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,23,28,16845.0
201,201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.70,160.0,5300.0,19,25,19045.0
202,202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.80,134.0,5500.0,18,23,21485.0
203,203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.00,106.0,4800.0,26,27,22470.0
204,204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,19,25,22625.0

In [33]:
df1=pd.read_csv('test3.csv',index_col=0)

In [34]:
df1.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [35]:
obj_col=df1.select_dtypes(include=["object"])
obj_col.isnull().sum()

make               0
fuel_type          0
aspiration         0
num_doors          2
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_system        0
dtype: int64

In [36]:
obj_col["body_style"].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body_style, dtype: int64

In [37]:
pd.get_dummies(obj_col,columns=["body_style","drive_wheels"],prefix=["body","drive"]).head()  #for particular column

,make,fuel_type,aspiration,num_doors,engine_location,engine_type,num_cylinders,fuel_system,body_convertible,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,alfa-romero,gas,std,two,front,dohc,four,mpfi,1,0,0,0,0,0,0,1
1,alfa-romero,gas,std,two,front,dohc,four,mpfi,1,0,0,0,0,0,0,1
2,alfa-romero,gas,std,two,front,ohcv,six,mpfi,0,0,1,0,0,0,0,1
3,audi,gas,std,four,front,ohc,four,mpfi,0,0,0,1,0,0,1,0
4,audi,gas,std,four,front,ohc,five,mpfi,0,0,0,1,0,1,0,0

In [38]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,LabelBinarizer

In [39]:
lb_style=LabelBinarizer()
lb_results=lb_style.fit_transform(obj_col["body_style"])
pd.DataFrame(lb_results,columns=lb_style.classes_).head()

   convertible  hardtop  hatchback  sedan  wagon
0            1        0          0      0      0
1            1        0          0      0      0
2            0        0          1      0      0
3            0        0          0      1      0
4            0        0          0      1      0

In [40]:
obj_col["num_cylinders"].value_counts()

four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num_cylinders, dtype: int64

In [41]:
cleanup_nums={"num_doors":{"four":4,"two":2,np.nan:4},"num_cylinders":{"four":4,"six":6,"five":5,"eight":8,"two":2,"twelve":12,"three":3}}

In [42]:
cleanup_nums

{'num_doors': {'four': 4, 'two': 2, nan: 4},
 'num_cylinders': {'four': 4,
  'six': 6,
  'five': 5,
  'eight': 8,
  'two': 2,
  'twelve': 12,
  'three': 3}}

In [43]:
obj_col.replace(cleanup_nums,inplace=True)
obj_col[:3]

C:\Users\muddi\Anaconda3\lib\site-packages\pandas\core\generic.py:5821: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  regex=regex)

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi

In [44]:
obj_col.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object

In [45]:
#Label Encoder difference from oneHotEncoder
obj_col["make"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [50]:
lb_make=LabelEncoder()
obj_col["make_code"]=lb_make.fit_transform(obj_col["make"])
obj_col[["make","make_code"]].head(15)

C:\Users\muddi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

           make  make_code
0   alfa-romero          0
1   alfa-romero          0
2   alfa-romero          0
3          audi          1
4          audi          1
5          audi          1
6          audi          1
7          audi          1
8          audi          1
9          audi          1
10          bmw          2
11          bmw          2
12          bmw          2
13          bmw          2
14          bmw          2

In [51]:
obj_col["engine_type"].value_counts()

ohc      148
ohcf      15
ohcv      13
l         12
dohc      12
rotor      4
dohcv      1
Name: engine_type, dtype: int64

In [52]:
obj_col["OHC_code"]=np.where(obj_col["engine_type"].str.contains("ohc"),1,0)  #creating a new column

C:\Users\muddi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [53]:
obj_col[['make','make_code','OHC_code']].head()

          make  make_code  OHC_code
0  alfa-romero          0         1
1  alfa-romero          0         1
2  alfa-romero          0         1
3         audi          1         1
4         audi          1         1

In [55]:
obj_col.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,make_code,OHC_code
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0,1
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0,1
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi,0,1
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi,1,1
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi,1,1