In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
import statsmodels.formula.api as sm

In [2]:
#1)i)	Read the dataset, print last 3 observations 

df = pd.read_csv("Demand.csv",index_col=0)
df.tail(3)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
30228,Hyderabad,Dine-in,964,2016-08-01,140,933.0,0.21,1063.855517,NaN,NaN,...,Mon,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.4
30229,Hyderabad,Take Away,4066,2016-08-01,179,501.0,0.14,534.060000,NaN,NaN,...,Mon,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.4
30230,Hyderabad,Delivery,4061,2016-08-01,117,716.5,0.15,780.810000,NaN,NaN,...,Mon,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.4

In [3]:
#1)ii)Find the data types of each column
df.dtypes

City                                           object
Mapped_Sales_Type                              object
Mapped_Item_Code                                int64
Transaction_Date                               object
Quantity_Sold                                   int64
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Year                                            int64
Month                                           int64
Day                                            object
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
First_Week_Of_The_Month_Dummy                   int64
Last_Week_Of_The_Month_Dummy                    int64
Day_Of_The_Week_Seasonality                   float64
Month_Of_The_Year_Seasonality                 float64
Two_Wheeler_sales                             float64
dtype: object

In [4]:
#2)â€¢	Convert the data type of â€˜Mapped_Item_Codeâ€™ field to object
#	Hint: use .astype(str) for the data type conversion
df["Mapped_Item_Code"]=df["Mapped_Item_Code"].astype(str)
df["Mapped_Item_Code"]

0        9978
1        4064
2         965
3        9978
4        1045
5        4056
6        4065
7        4058
8        4057
9        4056
10       4061
11       4055
12       4061
13       9978
14        979
15       4066
16        978
17       4062
18        971
19        970
20        966
21       4068
22       4063
23       4057
24        965
25        964
26       4068
27       4066
28       4065
29        966
         ...
30201     978
30202    4061
30203     966
30204     979
30205    4060
30206    4063
30207     978
30208    4057
30209     965
30210    4058
30211     971
30212     970
30213     965
30214    4064
30215     965
30216    4065
30217    4059
30218    4056
30219    4059
30220    4068
30221    4066
30222     970
30223     971
30224    4062
30225    4063
30226    4056
30227    4058
30228     964
30229    4066
30230    4061
Name: Mapped_Item_Code, Length: 30231, dtype: object

In [5]:
#3)â€¢	Convert the field â€˜Transaction_Dateâ€™ to datetime (Date) column
#	Hint: use pd.to_datetime for conversion
df["Transaction_Date"]=pd.to_datetime(df["Transaction_Date"])
df["Transaction_Date"]

0       2018-07-31
1       2018-07-31
2       2018-07-31
3       2018-07-31
4       2018-07-31
5       2018-07-31
6       2018-07-31
7       2018-07-31
8       2018-07-31
9       2018-07-31
10      2018-07-31
11      2018-07-31
12      2018-07-31
13      2018-07-31
14      2018-07-31
15      2018-07-31
16      2018-07-31
17      2018-07-31
18      2018-07-31
19      2018-07-31
20      2018-07-31
21      2018-07-31
22      2018-07-31
23      2018-07-31
24      2018-07-31
25      2018-07-31
26      2018-07-31
27      2018-07-31
28      2018-07-31
29      2018-07-31
           ...
30201   2016-08-01
30202   2016-08-01
30203   2016-08-01
30204   2016-08-01
30205   2016-08-01
30206   2016-08-01
30207   2016-08-01
30208   2016-08-01
30209   2016-08-01
30210   2016-08-01
30211   2016-08-01
30212   2016-08-01
30213   2016-08-01
30214   2016-08-01
30215   2016-08-01
30216   2016-08-01
30217   2016-08-01
30218   2016-08-01
30219   2016-08-01
30220   2016-08-01
30221   2016-08-01
30222   2016-08-01
30223   2016-08-01
30224   2016-08-01
30225   2016-08-01
30226   2016-08-01
30227   2016-08-01
30228   2016-08-01
30229   2016-08-01
30230   2016-08-01
Name: Transaction_Date, Length: 30231, dtype: datetime64[ns]

In [6]:
#4)â€¢	Extract only those records whose transaction date is greater than or equal to â€˜2017-01-01â€™ and proceed with below operations
#	Hint: use .loc operator
df.loc[df['Transaction_Date'] >= "2017-01-01"]

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,2018-07-31,167,187.00,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,2018-07-31,368,602.00,0.05,584.329105,0.027237,1.050000,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,2018-07-31,694,263.00,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,2018-07-31,140,263.00,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,2018-07-31,139,392.00,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52
5,Hyderabad,Delivery,4056,2018-07-31,617,322.00,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
6,Hyderabad,Take Away,4065,2018-07-31,217,652.00,0.05,651.958113,NaN,NaN,...,Tue,7559.28,143.7,4.230745,4.029228,0,1,0.86,0.91,37307.52
7,Hyderabad,Express,4058,2018-07-31,115,312.00,0.05,294.960000,NaN,NaN,...,Tue,7559.28,143.7,1.746416,1.663187,0,1,0.70,0.08,37307.52
8,Hyderabad,Express,4057,2018-07-31,113,312.00,0.05,294.960000,NaN,NaN,...,Tue,7559.28,143.7,1.746416,1.663187,0,1,0.72,0.08,37307.52
9,Hyderabad,Express,4056,2018-07-31,120,392.00,0.05,378.955556,NaN,NaN,...,Tue,7559.28,143.7,2.330936,2.219903,0,1,0.84,0.08,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.00,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
11,Hyderabad,Express,4055,2018-07-31,122,362.00,0.05,347.458182,NaN,NaN,...,Tue,7559.28,143.7,2.111748,2.011134,0,1,0.71,0.08,37307.52
12,Hyderabad,Take Away,4061,2018-07-31,233,802.00,0.05,809.456066,NaN,NaN,...,Tue,7559.28,143.7,5.326765,5.073069,0,1,0.82,0.91,37307.52
13,Hyderabad,Dine-in,9978,2018-07-31,118,263.00,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.85,1.09,37307.52
14,Hyderabad,Dine-in,979,2018-07-31,164,1222.00,0.05,1250.460000,NaN,NaN,...,Tue,7559.28,143.7,8.395685,7.995825,0,1,0.86,1.09,37307.52
15,Hyderabad,Take Away,4066,2018-07-31,136,662.00,0.05,662.460000,NaN,NaN,...,Tue,7559.28,143.7,4.303827,4.098817,0,1,0.77,0.91,37307.52
16,Hyderabad,Dine-in,978,2018-07-31,188,1172.00,0.05,1197.959740,NaN,NaN,...,Tue,7559.28,143.7,8.030339,7.647878,0,1,0.83,1.09,37307.52
17,Hyderabad,Delivery,4062,2018-07-31,123,1022.00,0.05,1040.460000,NaN,NaN,...,Tue,7559.28,143.7,6.934308,6.604036,0,1,0.76,1.06,37307.52
18,Hyderabad,Dine-in,971,2018-07-31,275,312.00,0.05,294.959024,NaN,NaN,...,Tue,7559.28,143.7,1.746409,1.663187,0,1,0.83,1.09,37307.52
19,Hyderabad,Dine-in,970,2018-07-31,562,312.00,0.05,294.958315,NaN,NaN,...,Tue,7559.28,143.7,1.746404,1.663187,0,1,0.80,1.09,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.00,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52
21,Hyderabad,Take Away,4068,2018-07-31,180,542.00,0.05,536.457681,NaN,NaN,...,Tue,7559.28,143.7,3.426985,3.263744,0,1,0.66,0.91,37307.52
22,Hyderabad,Delivery,4063,2018-07-31,116,852.00,0.05,861.954000,NaN,NaN,...,Tue,7559.28,143.7,5.692095,5.421016,0,1,0.68,1.06,37307.52
23,Hyderabad,Delivery,4057,2018-07-31,242,272.00,0.05,252.958321,NaN,NaN,...,Tue,7559.28,143.7,1.454129,1.384830,0,1,0.74,1.06,37307.52
24,Hyderabad,Dine-in,965,2018-07-31,1934,362.00,0.05,347.258327,0.001646,0.420000,...,Tue,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52
25,Hyderabad,Dine-in,964,2018-07-31,129,1107.00,0.05,1129.700000,NaN,NaN,...,Tue,7559.28,143.7,7.555324,7.195546,0,1,0.84,1.09,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.00,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52
27,Hyderabad,Delivery,4066,2018-07-31,126,752.00,0.05,756.958667,NaN,NaN,...,Tue,7559.28,143.7,4.961438,4.725122,0,1,0.72,1.06,37307.52
28,Hyderabad,Delivery,4065,2018-07-31,140,752.00,0.05,756.958621,NaN,NaN,...,Tue,7559.28,143.7,4.961438,4.725122,0,1,0.77,1.06,37307.52
29,Hyderabad,Main Hall,966,2018-07-31,121,292.00,0.05,273.958000,NaN,NaN,...,Tue,7559.28,143.7,1.600264,1.524008,0,1,1.10,1.08,37307.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24543,Hyderabad,Delivery,4062,2017-01-01,122,755.00,0.14,824.890000,NaN,NaN,...,Sun,7296.64,135.3,5.771545,5.040650,1,0,1.42,1.17,30683.84
24544,Hyderabad,Take Away,4066,2017-01-01,475,501.00,0.14,534.060000,NaN,NaN,...,Sun,7296.64,135.3,3.622025,3.163341,1,0,2.05,1.06,30683.84
24545,Hyderabad,Dine-in,979,2017-01-01,270,1029.00,0.21,1190.369623,0.025157,0.180753,...,Sun,7296.64,135.3,8.472798,7.065780,1,0,1.51,1.05,30683.84
24546,Hyderabad,Take Away,4056,2017-01-01,1817,239.00,0.14,233.256682,0.005275,0.928728,...,Sun,7296.64,135.3,1.398793,1.226903,1,0,1.49,1.06,30683.84
24547,Hyderabad,Dine-in,964,2017-01-01,191,933.00,0.21,1074.390375,0.012500,0.180756,...,Sun,7296.64,135.3,7.615598,6.356245,1,0,1.45,1.05,30683.84
24548,Hyderabad,Delivery,4056,2017-01-01,283,255.60,0.15,253.079070,NaN,NaN,...,Sun,7296.64,135.3,1.545300,1.349593,1,0,1.51,1.17,30683.84
24549,Hyderabad,Dine-in,966,2017-01-01,1639,327.00,0.20,347.816008,0.010471,0.158469,...,Sun,7296.64,135.3,2.245499,1.877310,1,0,1.24,1.05,30683.84
24550,Hyderabad,Delivery,4066,2017-01-01,136,543.80,0.15,583.069200,NaN,NaN,...,Sun,7296.64,135.3,3.984251,3.479675,1,0,1.88,1.17,30683.84
24551,Hyderabad,Dine-in,965,2017-01-01,3359,317.00,0.20,335.298778,0.005542,0.277814,...,Sun,7296.64,135.3,2.152984,1.803400,1,0,1.39,1.05,30683.84
24552,Hyderabad,Delivery,4058,2017-01-01,407,227.00,0.14,220.330000,NaN,NaN,...,Sun,7296.64,135.3,1.303252,1.138211,1,0,1.50,1.17,30683.84
24553,Hyderabad,Main Hall,966,2017-01-01,330,238.85,0.21,239.592374,0.022831,1.206898,...,Sun,7296.64,135.3,1.445620,1.225795,1,0,0.88,1.09,30683.84
24554,Hyderabad,Take Away,4061,2017-01-01,733,658.00,0.15,710.490386,0.006431,0.887376,...,Sun,7296.64,135.3,4.926019,4.323725,1,0,1.56,1.06,30683.84
24555,Hyderabad,Take Away,4060,2017-01-01,692,309.00,0.15,314.220000,NaN,NaN,...,Sun,7296.64,135.3,1.997191,1.744272,1,0,1.53,1.06,30683.84
24556,Hyderabad,Take Away,4065,2017-01-01,493,510.00,0.15,544.369267,NaN,NaN,...,Sun,7296.64,135.3,3.698221,3.229860,1,0,1.73,1.06,30683.84
24557,Hyderabad,Main Hall,965,2017-01-01,478,230.50,0.21,226.836485,0.038147,1.206898,...,Sun,7296.64,135.3,1.351341,1.164080,1,0,0.91,1.09,30683.84
24558,Hyderabad,Take Away,4058,2017-01-01,1723,212.80,0.14,203.772128,0.001861,1.144993,...,Sun,7296.64,135.3,1.180873,1.033259,1,0,1.47,1.06,30683.84
24559,Hyderabad,Delivery,4063,2017-01-01,118,620.80,0.14,671.230000,NaN,NaN,...,Sun,7296.64,135.3,4.635846,4.048780,1,0,1.05,1.17,30683.84
24560,Hyderabad,Take Away,4063,2017-01-01,233,571.00,0.15,600.188443,0.024590,1.145000,...,Sun,7296.64,135.3,4.110779,3.680710,1,0,1.18,1.06,30683.84
24561,Hyderabad,Delivery,4057,2017-01-01,217,227.00,0.14,220.330000,NaN,NaN,...,Sun,7296.64,135.3,1.303252,1.138211,1,0,1.72,1.17,30683.84
24562,Hyderabad,Take Away,4055,2017-01-01,3739,230.00,0.15,222.970295,0.004686,1.084387,...,Sun,7296.64,135.3,1.322766,1.160384,1,0,1.52,1.06,30683.84
24563,Hyderabad,Main Hall,970,2017-01-01,150,213.25,0.21,213.268462,NaN,NaN,...,Sun,7296.64,135.3,1.251060,1.036585,1,0,0.97,1.09,30683.84
24564,Hyderabad,Dine-in,970,2017-01-01,1076,273.00,0.20,283.127337,0.002073,0.662750,...,Sun,7296.64,135.3,1.767386,1.478197,1,0,1.29,1.05,30683.84
24565,Hyderabad,Dine-in,971,2017-01-01,466,273.00,0.20,283.954676,0.002817,0.120500,...,Sun,7296.64,135.3,1.773501,1.478197,1,0,1.51,1.05,30683.84
24566,Hyderabad,Take Away,4057,2017-01-01,517,212.80,0.14,202.098719,0.012315,1.144993,...,Sun,7296.64,135.3,1.168505,1.033259,1,0,1.84,1.06,30683.84
24567,Hyderabad,Take Away,4068,2017-01-01,664,405.00,0.14,424.140000,NaN,NaN,...,Sun,7296.64,135.3,2.809608,2.453806,1,0,1.75,1.06,30683.84
24568,Hyderabad,Delivery,4055,2017-01-01,636,245.70,0.14,241.740057,NaN,NaN,...,Sun,7296.64,135.3,1.461493,1.276423,1,0,1.52,1.17,30683.84
24569,Hyderabad,Delivery,4064,2017-01-01,249,535.00,0.15,572.990000,NaN,NaN,...,Sun,7296.64,135.3,3.909756,3.414634,1,0,1.72,1.17,30683.84
24570,Hyderabad,Dine-in,978,2017-01-01,535,989.00,0.21,1141.909882,0.007075,0.502089,...,Sun,7296.64,135.3,8.114633,6.770140,1,0,1.70,1.05,30683.84
24571,Hyderabad,Delivery,4060,2017-01-01,226,332.60,0.14,341.240174,NaN,NaN,...,Sun,7296.64,135.3,2.196897,1.918699,1,0,1.57,1.17,30683.84
24572,Hyderabad,Delivery,4059,2017-01-01,376,322.70,0.15,329.909094,NaN,NaN,...,Sun,7296.64,135.3,2.113149,1.845528,1,0,1.62,1.17,30683.84

In [7]:
#5)â€¢	Check the changed data types of each column and also see how many unique sales types are available in â€˜Mapped_Sales_Typeâ€™ column
print(df.dtypes)

df["Mapped_Sales_Type"].nunique()

City                                                  object
Mapped_Sales_Type                                     object
Mapped_Item_Code                                      object
Transaction_Date                              datetime64[ns]
Quantity_Sold                                          int64
Median_Price                                         float64
Average_Tax_Percent                                  float64
Effective_Price                                      float64
Percent_Quantity_With_Discount                       float64
Avg_Discount_Percent_On_Discounted_Items             float64
Year                                                   int64
Month                                                  int64
Day                                                   object
Car_sales                                            float64
F_and_B_Inflation                                    float64
F_and_B_Inflation_Adjusted_Effective_Price           float64
F_and_B_Inflation_Adjusted_Median_Price              float64
First_Week_Of_The_Month_Dummy                          int64
Last_Week_Of_The_Month_Dummy                           int64
Day_Of_The_Week_Seasonality                          float64
Month_Of_The_Year_Seasonality                        float64
Two_Wheeler_sales                                    float64
dtype: object

6

In [8]:
#6)â€¢	Extract only those records whose â€˜Avg_Discount_Percent_On_Discounted_Itemsâ€™ is lesser than 1.0 
#and do a sense check if the resulting data frame contains any values in the same column that are greater than or equal to 1.0
df.loc[df['Avg_Discount_Percent_On_Discounted_Items'] < 1.0]

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52
24,Hyderabad,Dine-in,965,2018-07-31,1934,362.0,0.05,347.258327,0.001646,0.420000,...,Tue,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52
34,Hyderabad,Take Away,4060,2018-07-31,267,378.0,0.05,364.051923,0.006410,0.105016,...,Tue,7559.28,143.7,2.227223,2.122477,0,1,0.82,0.91,37307.52
35,Hyderabad,Take Away,4059,2018-07-31,395,359.0,0.05,344.194296,0.003521,0.105000,...,Tue,7559.28,143.7,2.089035,1.990257,0,1,0.81,0.91,37307.52
42,Hyderabad,Delivery,4058,2018-07-31,532,272.0,0.05,252.660214,0.014252,0.105008,...,Tue,7559.28,143.7,1.452054,1.384830,0,1,0.72,1.06,37307.52
46,Hyderabad,Delivery,4064,2018-07-31,261,682.0,0.05,683.031933,0.006667,0.105008,...,Tue,7559.28,143.7,4.446986,4.237996,0,1,0.76,1.06,37307.52
49,Hyderabad,Take Away,4055,2018-07-30,1171,263.0,0.05,243.104774,0.002830,0.735000,...,Mon,7559.28,143.7,1.385559,1.322199,0,1,0.75,0.91,37307.52
52,Hyderabad,Dine-in,966,2018-07-30,1101,392.0,0.05,378.493636,0.004040,0.360165,...,Mon,7559.28,143.7,2.327722,2.219903,0,1,0.83,1.09,37307.52
58,Hyderabad,Dine-in,965,2018-07-30,1883,362.0,0.05,347.205525,0.002822,0.309550,...,Mon,7559.28,143.7,2.109990,2.011134,0,1,0.83,1.09,37307.52
59,Hyderabad,Take Away,4060,2018-07-30,207,378.0,0.05,363.924583,0.010417,0.105016,...,Mon,7559.28,143.7,2.226337,2.122477,0,1,0.72,0.91,37307.52
62,Hyderabad,Delivery,4068,2018-07-30,139,622.0,0.05,618.399286,0.035714,0.105009,...,Mon,7559.28,143.7,3.997211,3.820459,0,1,0.65,1.06,37307.52
66,Hyderabad,Dine-in,970,2018-07-30,598,312.0,0.05,294.765442,0.006160,0.130907,...,Mon,7559.28,143.7,1.745062,1.663187,0,1,0.83,1.09,37307.52
67,Hyderabad,Dine-in,971,2018-07-30,269,312.0,0.05,294.800190,0.006329,0.104979,...,Mon,7559.28,143.7,1.745304,1.663187,0,1,0.79,1.09,37307.52
75,Hyderabad,Delivery,4065,2018-07-30,133,752.0,0.05,750.476818,0.090909,0.105007,...,Mon,7559.28,143.7,4.916331,4.725122,0,1,0.60,1.06,37307.52
77,Hyderabad,Delivery,4056,2018-07-30,485,322.0,0.05,305.108823,0.013369,0.105004,...,Mon,7559.28,143.7,1.817041,1.732777,0,1,0.72,1.06,37307.52
84,Hyderabad,Dine-in,978,2018-07-30,209,1172.0,0.05,1196.499388,0.010204,0.130209,...,Mon,7559.28,143.7,8.020177,7.647878,0,1,0.79,1.09,37307.52
88,Hyderabad,Delivery,4064,2018-07-30,230,682.0,0.05,680.233950,0.050420,0.105005,...,Mon,7559.28,143.7,4.427515,4.237996,0,1,0.61,1.06,37307.52
89,Hyderabad,Delivery,4058,2018-07-30,473,272.0,0.05,252.668923,0.013812,0.105005,...,Mon,7559.28,143.7,1.452115,1.384830,0,1,0.71,1.06,37307.52
94,Hyderabad,Delivery,4061,2018-07-30,128,942.0,0.05,951.091177,0.058824,0.105006,...,Mon,7559.28,143.7,6.312395,6.047321,0,1,0.61,1.06,37307.52
97,Hyderabad,Delivery,4060,2018-07-30,218,442.0,0.05,431.095701,0.009346,0.105014,...,Mon,7559.28,143.7,2.693777,2.567850,0,1,0.69,1.06,37307.52
103,Hyderabad,Take Away,4055,2018-07-29,2290,263.0,0.05,241.915126,0.027994,0.290902,...,Sun,7559.28,143.7,1.377280,1.322199,0,1,1.52,0.91,37307.52
107,Hyderabad,Take Away,4064,2018-07-29,690,602.0,0.05,598.403592,0.003454,0.577505,...,Sun,7559.28,143.7,3.858063,3.681280,0,1,1.87,0.91,37307.52
108,Hyderabad,Delivery,4060,2018-07-29,469,442.0,0.05,431.242095,0.005587,0.105000,...,Sun,7559.28,143.7,2.694795,2.567850,0,1,1.57,1.06,37307.52
109,Hyderabad,Dine-in,965,2018-07-29,3299,362.0,0.05,347.152999,0.004078,0.258467,...,Sun,7559.28,143.7,2.109624,2.011134,0,1,1.39,1.09,37307.52
115,Hyderabad,Delivery,4062,2018-07-29,141,1022.0,0.05,1037.136667,0.033333,0.105005,...,Sun,7559.28,143.7,6.911181,6.604036,0,1,1.42,1.06,37307.52
117,Hyderabad,Dine-in,979,2018-07-29,221,1222.0,0.05,1248.265909,0.018182,0.105000,...,Sun,7559.28,143.7,8.380417,7.995825,0,1,1.51,1.09,37307.52
124,Hyderabad,Delivery,4061,2018-07-29,190,942.0,0.05,955.302532,0.012658,0.105006,...,Sun,7559.28,143.7,6.341702,6.047321,0,1,1.31,1.06,37307.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30110,Hyderabad,Take Away,4055,2016-08-04,1126,230.0,0.15,222.687892,0.010837,0.634957,...,Thu,8033.92,140.1,1.275431,1.120628,1,0,0.80,0.99,27870.40
30114,Hyderabad,Dine-in,964,2016-08-04,139,933.0,0.21,1068.087857,0.035714,0.120500,...,Thu,8033.92,140.1,7.309692,6.138473,1,0,0.79,0.94,27870.40
30119,Hyderabad,Dine-in,965,2016-08-03,1597,317.0,0.20,333.196440,0.004711,0.275422,...,Wed,8033.92,140.1,2.064214,1.741613,1,0,0.98,0.94,27870.40
30120,Hyderabad,Take Away,4055,2016-08-03,1425,230.0,0.15,223.036438,0.005327,0.875105,...,Wed,8033.92,140.1,1.277919,1.120628,1,0,1.02,0.99,27870.40
30121,Hyderabad,Dine-in,979,2016-08-03,173,1029.0,0.21,1187.601613,0.016129,0.120502,...,Wed,8033.92,140.1,8.162752,6.823697,1,0,0.99,0.94,27870.40
30126,Hyderabad,Dine-in,971,2016-08-03,213,273.0,0.20,281.550490,0.009804,0.120500,...,Wed,8033.92,140.1,1.695578,1.427552,1,0,0.92,0.94,27870.40
30136,Hyderabad,Take Away,4058,2016-08-03,793,212.8,0.14,203.530381,0.005865,0.658369,...,Wed,8033.92,140.1,1.138689,0.997859,1,0,0.78,0.99,27870.40
30138,Hyderabad,Take Away,4066,2016-08-03,204,501.0,0.14,532.479140,0.032258,0.114502,...,Wed,8033.92,140.1,3.486646,3.054961,1,0,0.94,0.99,27870.40
30141,Hyderabad,Dine-in,978,2016-08-03,224,989.0,0.21,1140.542920,0.008850,0.120502,...,Wed,8033.92,140.1,7.826859,6.538187,1,0,0.98,0.94,27870.40
30144,Hyderabad,Dine-in,966,2016-08-03,1027,327.0,0.20,345.780022,0.016376,0.176735,...,Wed,8033.92,140.1,2.154033,1.812991,1,0,1.01,0.94,27870.40
30152,Hyderabad,Dine-in,970,2016-08-03,539,273.0,0.20,281.205117,0.018692,0.316312,...,Wed,8033.92,140.1,1.693113,1.427552,1,0,0.76,0.94,27870.40
30155,Hyderabad,Take Away,4060,2016-08-02,313,309.0,0.15,314.086238,0.004950,0.114492,...,Tue,8033.92,140.1,1.927810,1.684511,1,0,0.82,0.99,27870.40
30165,Hyderabad,Dine-in,979,2016-08-02,166,1029.0,0.21,1176.683455,0.072727,0.148596,...,Tue,8033.92,140.1,8.084821,6.823697,1,0,0.86,0.94,27870.40
30167,Hyderabad,Take Away,4056,2016-08-02,806,239.0,0.14,233.194863,0.005755,0.915994,...,Tue,8033.92,140.1,1.350427,1.184868,1,0,0.89,0.99,27870.40
30169,Hyderabad,Dine-in,964,2016-08-02,145,933.0,0.21,1065.566471,0.029412,0.120500,...,Tue,8033.92,140.1,7.291695,6.138473,1,0,0.84,0.94,27870.40
30174,Hyderabad,Dine-in,978,2016-08-02,215,989.0,0.21,1133.900000,0.028846,0.120502,...,Tue,8033.92,140.1,7.779443,6.538187,1,0,0.83,0.94,27870.40
30176,Hyderabad,Take Away,4062,2016-08-02,164,693.0,0.14,751.890943,0.018868,0.171758,...,Tue,8033.92,140.1,5.052755,4.425410,1,0,0.82,0.99,27870.40
30177,Hyderabad,Dine-in,971,2016-08-02,236,273.0,0.20,280.696880,0.032000,0.120497,...,Tue,8033.92,140.1,1.689485,1.427552,1,0,0.83,0.94,27870.40
30181,Hyderabad,Dine-in,965,2016-08-02,1488,317.0,0.20,332.166267,0.026870,0.123754,...,Tue,8033.92,140.1,2.056861,1.741613,1,0,0.89,0.94,27870.40
30184,Hyderabad,Dine-in,966,2016-08-02,940,327.0,0.20,345.136586,0.027744,0.144357,...,Tue,8033.92,140.1,2.149440,1.812991,1,0,0.92,0.94,27870.40
30185,Hyderabad,Take Away,965,2016-08-02,113,230.0,0.15,205.790000,1.000000,0.114490,...,Tue,8033.92,140.1,1.154818,1.120628,1,0,1.21,0.99,27870.40
30186,Hyderabad,Dine-in,970,2016-08-02,516,273.0,0.20,280.739704,0.039506,0.195813,...,Tue,8033.92,140.1,1.689791,1.427552,1,0,0.80,0.94,27870.40
30187,Hyderabad,Take Away,4059,2016-08-02,519,300.0,0.15,303.790980,0.004902,0.114493,...,Tue,8033.92,140.1,1.854325,1.620271,1,0,0.81,0.99,27870.40
30194,Hyderabad,Take Away,4057,2016-08-01,230,212.8,0.14,201.245210,0.025210,0.801502,...,Mon,8033.92,140.1,1.122378,0.997859,1,0,0.71,0.99,27870.40
30197,Hyderabad,Dine-in,966,2016-08-01,875,327.0,0.20,345.220654,0.015707,0.180748,...,Mon,8033.92,140.1,2.150040,1.812991,1,0,0.83,0.94,27870.40
30198,Hyderabad,Take Away,4055,2016-08-01,1290,230.0,0.15,222.456760,0.010178,0.820589,...,Mon,8033.92,140.1,1.273781,1.120628,1,0,0.75,0.99,27870.40
30201,Hyderabad,Dine-in,978,2016-08-01,213,989.0,0.21,1135.791961,0.009804,0.120502,...,Mon,8033.92,140.1,7.792948,6.538187,1,0,0.79,0.94,27870.40
30212,Hyderabad,Dine-in,970,2016-08-01,534,273.0,0.20,281.371135,0.007092,0.502083,...,Mon,8033.92,140.1,1.694298,1.427552,1,0,0.83,0.94,27870.40
30213,Hyderabad,Dine-in,965,2016-08-01,1410,317.0,0.20,333.437775,0.004619,0.120492,...,Mon,8033.92,140.1,2.065937,1.741613,1,0,0.83,0.94,27870.40
30226,Hyderabad,Take Away,4056,2016-08-01,615,239.0,0.14,232.033552,0.013889,0.883279,...,Mon,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40

In [9]:
#7)â€¢	Create the below dictionary (dict_agg) and pass it as an argument for the aggregate function in order to roll up the
#results grouped by following order: 'City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date'
#	dict_aggr = {'Quantity_Sold':'sum', 'Median_Price':'median', 'Effective_Price':'median'}
#	sample syntax: df.groupby(<groupby list>).agg(dictionary)
dict_aggr={'Quantity_Sold':'sum', 'Median_Price':'median', 'Effective_Price':'median'}
df.groupby(['City','Mapped_Sales_Type','Mapped_Item_Code','Transaction_Date']).agg(dict_aggr)

                                                               Quantity_Sold  \
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4055             2016-12-31                  190
                                             2018-04-04                  110
                                             2018-05-24                  110
                                             2018-06-14                  108
                                             2018-06-27                  110
                                             2018-06-29                  109
                                             2018-07-07                  105
                                             2018-07-30                  108
                                             2018-07-31                  109
                            4056             2016-12-31                  141
                                             2018-05-23                  107
                                             2018-05-24                  110
                                             2018-06-29                  107
                                             2018-06-30                  109
                                             2018-07-04                  108
                                             2018-07-06                  110
                                             2018-07-07                  109
                                             2018-07-08                  106
                                             2018-07-09                  109
                                             2018-07-31                  109
                            4057             2016-12-31                  116
                                             2017-07-30                  110
                                             2017-08-05                  110
                            4058             2016-12-31                  150
                                             2018-04-04                  110
                                             2018-06-13                  110
                                             2018-06-19                  106
                                             2018-06-24                  109
                                             2018-06-30                  110
                                             2018-07-01                  110
...                                                                      ...
          Take Away         9978             2018-07-02                  175
                                             2018-07-03                  177
                                             2018-07-04                  171
                                             2018-07-05                  179
                                             2018-07-06                  187
                                             2018-07-07                  200
                                             2018-07-08                  203
                                             2018-07-09                  186
                                             2018-07-10                  179
                                             2018-07-11                  162
                                             2018-07-12                  154
                                             2018-07-13                  180
                                             2018-07-14                  201
                                             2018-07-15                  169
                                             2018-07-16                  157
                                             2018-07-17                  172
                                             2018-07-18                  195
                                             2018-07-19                  185
                                             2018-07-20                  197
                                             2018-07-21                  186
                                             2018-07-22                  178
                                             2018-07-23                  155
                                             2018-07-24                  170
                                             2018-07-25                  168
                                             2018-07-26                  148
                                             2018-07-27                  192
                                             2018-07-28                  170
                                             2018-07-29                  180
                                             2018-07-30                  156
                                             2018-07-31                  167

                                                               Median_Price  \
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4055             2016-12-31              230.00
                                             2018-04-04              253.95
                                             2018-05-24              263.00
                                             2018-06-14              263.00
                                             2018-06-27              263.00
                                             2018-06-29              263.00
                                             2018-07-07              263.00
                                             2018-07-30              263.00
                                             2018-07-31              263.00
                            4056             2016-12-31              239.00
                                             2018-05-23              282.60
                                             2018-05-24              282.60
                                             2018-06-29              282.60
                                             2018-06-30              263.48
                                             2018-07-04              282.60
                                             2018-07-06              282.60
                                             2018-07-07              282.60
                                             2018-07-08              282.60
                                             2018-07-09              282.60
                                             2018-07-31              282.60
                            4057             2016-12-31              212.80
                                             2017-07-30              223.00
                                             2017-08-05              223.00
                            4058             2016-12-31              212.80
                                             2018-04-04              234.90
                                             2018-06-13              249.00
                                             2018-06-19              249.00
                                             2018-06-24              249.00
                                             2018-06-30              234.90
                                             2018-07-01              249.00
...                                                                     ...
          Take Away         9978             2018-07-02              187.00
                                             2018-07-03              187.00
                                             2018-07-04              187.00
                                             2018-07-05              187.00
                                             2018-07-06              187.00
                                             2018-07-07              187.00
                                             2018-07-08              187.00
                                             2018-07-09              187.00
                                             2018-07-10              187.00
                                             2018-07-11              187.00
                                             2018-07-12              187.00
                                             2018-07-13              187.00
                                             2018-07-14              187.00
                                             2018-07-15              187.00
                                             2018-07-16              187.00
                                             2018-07-17              187.00
                                             2018-07-18              187.00
                                             2018-07-19              187.00
                                             2018-07-20              187.00
                                             2018-07-21              187.00
                                             2018-07-22              187.00
                                             2018-07-23              187.00
                                             2018-07-24              187.00
                                             2018-07-25              187.00
                                             2018-07-26              187.00
                                             2018-07-27              187.00
                                             2018-07-28              187.00
                                             2018-07-29              187.00
                                             2018-07-30              187.00
                                             2018-07-31              187.00

                                                               Effective_Price
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4055             2016-12-31             223.767468
                                             2018-04-04             233.990000
                                             2018-05-24             243.500000
                                             2018-06-14             243.500000
                                             2018-06-27             243.500000
                                             2018-06-29             243.500000
                                             2018-07-07             243.500000
                                             2018-07-30             243.500000
                                             2018-07-31             243.500000
                            4056             2016-12-31             234.070000
                                             2018-05-23             264.080000
                                             2018-05-24             264.080000
                                             2018-06-29             264.080000
                                             2018-06-30             244.000000
                                             2018-07-04             264.080000
                                             2018-07-06             264.080000
                                             2018-07-07             264.080000
                                             2018-07-08             264.080000
                                             2018-07-09             264.080000
                                             2018-07-31             264.080000
                            4057             2016-12-31             204.070000
                                             2017-07-30             221.000000
                                             2017-08-05             221.000000
                            4058             2016-12-31             204.070000
                                             2018-04-04             214.000000
                                             2018-06-13             228.800000
                                             2018-06-19             228.800000
                                             2018-06-24             228.800000
                                             2018-06-30             214.000000
                                             2018-07-01             228.800000
...                                                                        ...
          Take Away         9978             2018-07-02             163.700000
                                             2018-07-03             163.700000
                                             2018-07-04             163.700000
                                             2018-07-05             164.873529
                                             2018-07-06             163.700000
                                             2018-07-07             164.596629
                                             2018-07-08             163.700000
                                             2018-07-09             163.700000
                                             2018-07-10             163.700000
                                             2018-07-11             165.264706
                                             2018-07-12             163.700000
                                             2018-07-13             163.700000
                                             2018-07-14             163.700000
                                             2018-07-15             163.700000
                                             2018-07-16             163.700000
                                             2018-07-17             163.700000
                                             2018-07-18             163.700000
                                             2018-07-19             163.700000
                                             2018-07-20             163.700000
                                             2018-07-21             163.700000
                                             2018-07-22             163.700000
                                             2018-07-23             163.700000
                                             2018-07-24             165.052542
                                             2018-07-25             163.700000
                                             2018-07-26             163.700000
                                             2018-07-27             163.700000
                                             2018-07-28             165.052542
                                             2018-07-29             163.700000
                                             2018-07-30             163.700000
                                             2018-07-31             163.700000

[30231 rows x 3 columns]

In [10]:
#8)â€¢	Print first 5 observations where Effective_Price is not null
print(df["Effective_Price"].isna().sum())
df["Effective_Price"].dropna()
df["Effective_Price"].head()

2

0    163.700000
1    584.329105
2    244.835163
3    243.500000
4    378.960000
Name: Effective_Price, dtype: float64

In [11]:
#9)â€¢	Print first 10 observations where â€˜Cityâ€™ is â€˜Hyderabadâ€™ AND â€˜Mapped_Sales_Typeâ€™ is â€˜Deliveryâ€™
#	Hint: df.loc[(<condition 1>) & (<condition 2>), :].head(10)

df.loc[(df['City']=='Hyderabad') & (df['Mapped_Sales_Type']=='Delivery')].head(10)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
17,Hyderabad,Delivery,4062,2018-07-31,123,1022.0,0.05,1040.460000,NaN,NaN,...,Tue,7559.28,143.7,6.934308,6.604036,0,1,0.76,1.06,37307.52
22,Hyderabad,Delivery,4063,2018-07-31,116,852.0,0.05,861.954000,NaN,NaN,...,Tue,7559.28,143.7,5.692095,5.421016,0,1,0.68,1.06,37307.52
23,Hyderabad,Delivery,4057,2018-07-31,242,272.0,0.05,252.958321,NaN,NaN,...,Tue,7559.28,143.7,1.454129,1.384830,0,1,0.74,1.06,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52
27,Hyderabad,Delivery,4066,2018-07-31,126,752.0,0.05,756.958667,NaN,NaN,...,Tue,7559.28,143.7,4.961438,4.725122,0,1,0.72,1.06,37307.52
28,Hyderabad,Delivery,4065,2018-07-31,140,752.0,0.05,756.958621,NaN,NaN,...,Tue,7559.28,143.7,4.961438,4.725122,0,1,0.77,1.06,37307.52
30,Hyderabad,Delivery,4060,2018-07-31,273,442.0,0.05,431.457963,NaN,NaN,...,Tue,7559.28,143.7,2.696298,2.567850,0,1,0.77,1.06,37307.52
38,Hyderabad,Delivery,4055,2018-07-31,1328,302.0,0.05,284.457436,NaN,NaN,...,Tue,7559.28,143.7,1.673329,1.593598,0,1,0.81,1.06,37307.52

In [12]:
#10)â€¢	Print first 3 observations where Percent_Quantity_With_Discount is not equal to zero
#	Hint: use != operator

df.loc[df["Percent_Quantity_With_Discount"]!=0].head(3)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,2018-07-31,167,187.0,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,2018-07-31,368,602.0,0.05,584.329105,0.027237,1.05,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,2018-07-31,694,263.0,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52

In [13]:
#11)â€¢	Create a new column â€˜Rangeâ€™ and populate it as 1 if Effective_Price is greater than 500, else 0.5
#	Hint: df[â€˜New columnâ€™] = np.where(<condition>, if true, if false)
df['Range']=np.where((df["Effective_Price"]>500),1,0.5)
df[['Effective_Price','Range']]

       Effective_Price  Range
0           163.700000    0.5
1           584.329105    1.0
2           244.835163    0.5
3           243.500000    0.5
4           378.960000    0.5
5           305.354585    0.5
6           651.958113    1.0
7           294.960000    0.5
8           294.960000    0.5
9           378.955556    0.5
10          942.631515    1.0
11          347.458182    0.5
12          809.456066    1.0
13          243.500000    0.5
14         1250.460000    1.0
15          662.460000    1.0
16         1197.959740    1.0
17         1040.460000    1.0
18          294.959024    0.5
19          294.958315    0.5
20          378.840053    0.5
21          536.457681    1.0
22          861.954000    1.0
23          252.958321    0.5
24          347.258327    0.5
25         1129.700000    1.0
26          618.898649    1.0
27          756.958667    1.0
28          756.958621    1.0
29          273.958000    0.5
...                ...    ...
30201      1135.791961    1.0
30202       713.827966    1.0
30203       244.207746    0.5
30204      1186.440943    1.0
30205       341.240000    0.5
30206       671.230000    1.0
30207        44.000000    0.5
30208       220.330000    0.5
30209       234.127705    0.5
30210       220.330000    0.5
30211       278.843445    0.5
30212       281.371135    0.5
30213       333.437775    0.5
30214       524.009297    1.0
30215        44.000000    0.5
30216       544.369444    1.0
30217       303.901923    0.5
30218       253.079405    0.5
30219       329.909057    0.5
30220       424.140000    0.5
30221       583.070000    1.0
30222       213.301177    0.5
30223       214.270000    0.5
30224       824.890000    1.0
30225       614.210000    1.0
30226       232.033552    0.5
30227       202.575840    0.5
30228      1063.855517    1.0
30229       534.060000    1.0
30230       780.810000    1.0

[30231 rows x 2 columns]

In [14]:
#12)â€¢	Split the dataset into X and Y based on below list:
# x = 'Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent',  'Effective_Price',
# 'Percent_Quantity_With_Discount',       'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation', 
# 'F_and_B_Inflation_Adjusted_Effective_Price',       'F_and_B_Inflation_Adjusted_Median_Price'.         
# And  y = â€˜Quantity_Soldâ€™

X=df[['Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent',  'Effective_Price','Percent_Quantity_With_Discount',
      'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation',
     'F_and_B_Inflation_Adjusted_Effective_Price','F_and_B_Inflation_Adjusted_Median_Price']].fillna(0)

Y=df['Quantity_Sold']

In [15]:
#13)â€¢	Run the Linear Regression model on the above x and y features. 
#Feel free to explore the modeling parameters and come up with a high R2  
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=123)

In [16]:
X.isna().sum()

Mapped_Item_Code                              0
Median_Price                                  0
Average_Tax_Percent                           0
Effective_Price                               0
Percent_Quantity_With_Discount                0
Avg_Discount_Percent_On_Discounted_Items      0
Car_sales                                     0
F_and_B_Inflation                             0
F_and_B_Inflation_Adjusted_Effective_Price    0
F_and_B_Inflation_Adjusted_Median_Price       0
dtype: int64

In [17]:
X.head()

,Mapped_Item_Code,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price
0,9978,187.0,0.05,163.700000,0.000000,0.00,7559.28,143.7,0.832985,0.793319
1,4064,602.0,0.05,584.329105,0.027237,1.05,7559.28,143.7,3.760119,3.681280
2,965,263.0,0.05,244.835163,0.000000,0.00,7559.28,143.7,1.397600,1.322199
3,9978,263.0,0.05,243.500000,0.000000,0.00,7559.28,143.7,1.388309,1.322199
4,1045,392.0,0.05,378.960000,0.000000,0.00,7559.28,143.7,2.330967,2.219903

In [18]:
X.corr()

,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price
Median_Price,1.000000,-0.048810,0.993694,0.068811,-0.279719,-0.040666,0.040417,0.992193,0.999379
Average_Tax_Percent,-0.048810,1.000000,0.033811,0.009272,0.133294,0.372011,-0.179863,0.039654,-0.042894
Effective_Price,0.993694,0.033811,1.000000,0.031903,-0.280302,-0.004941,0.022149,0.999359,0.993975
Percent_Quantity_With_Discount,0.068811,0.009272,0.031903,1.000000,0.023257,-0.159293,0.145598,0.027354,0.064209
Avg_Discount_Percent_On_Discounted_Items,-0.279719,0.133294,-0.280302,0.023257,1.000000,0.031340,-0.033013,-0.280053,-0.279719
Car_sales,-0.040666,0.372011,-0.004941,-0.159293,0.031340,1.000000,-0.066184,-0.003461,-0.039130
F_and_B_Inflation,0.040417,-0.179863,0.022149,0.145598,-0.033013,-0.066184,1.000000,-0.007870,0.010790
F_and_B_Inflation_Adjusted_Effective_Price,0.992193,0.039654,0.999359,0.027354,-0.280053,-0.003461,-0.007870,1.000000,0.993732
F_and_B_Inflation_Adjusted_Median_Price,0.999379,-0.042894,0.993975,0.064209,-0.279719,-0.039130,0.010790,0.993732,1.000000

In [19]:
# X=X.drop(["F_and_B_Inflation_Adjusted_Effective_Price","F_and_B_Inflation_Adjusted_Median_Price","Median_Price"],axis=1)

In [20]:
lr = LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
train_prediction=lr.predict(X_train)

In [22]:
metrics.mean_squared_error(Y_train,train_prediction)

159803.76980760283

In [23]:
metrics.mean_absolute_error(Y_train,train_prediction)

236.19844527173095

In [24]:
test_prediction=lr.predict(X_test)

In [25]:
metrics.mean_squared_error(Y_test,test_prediction)

153875.85056939625

In [32]:
metrics.mean_absolute_error(Y_test,test_prediction)

231.61300888613033

In [33]:
metrics.r2_score(Y_test,test_prediction)

0.21151747784056707

In [34]:
# metrics.r2_score(Y_train,train_prediction)

In [35]:
# plt.figure(figsize=(10,7))
# plt.title("Actual vs. predicted demand",fontsize=25)
# plt.xlabel("Actual test set parameters",fontsize=18)
# plt.ylabel("Predicted quantity sold",fontsize=18)
# plt.scatter(x=Y_test,y=test_prediction)

In [36]:
sm_output=sm.OLS(Y,X.astype(float)).fit()

In [37]:
sm_output.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          Quantity_Sold   R-squared:                       0.549
Model:                            OLS   Adj. R-squared:                  0.549
Method:                 Least Squares   F-statistic:                     3684.
Date:                Sat, 04 May 2019   Prob (F-statistic):               0.00
Time:                        09:05:51   Log-Likelihood:            -2.2383e+05
No. Observations:               30231   AIC:                         4.477e+05
Df Residuals:                   30221   BIC:                         4.478e+05
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================================================
                                                 coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
Mapped_Item_Code                              -0.0467      0.001    -38.182      0.000      -0.049      -0.044
Median_Price                                   8.9152      3.469      2.570      0.010       2.117      15.714
Average_Tax_Percent                        -1130.9094     66.006    -17.133      0.000   -1260.284   -1001.535
Effective_Price                               -8.3988      2.859     -2.938      0.003     -14.002      -2.795
Percent_Quantity_With_Discount                25.3069     18.129      1.396      0.163     -10.226      60.840
Avg_Discount_Percent_On_Discounted_Items     305.1445      6.708     45.488      0.000     291.996     318.293
Car_sales                                     -0.0064      0.003     -2.107      0.035      -0.012      -0.000
F_and_B_Inflation                              4.2411      0.915      4.637      0.000       2.448       6.034
F_and_B_Inflation_Adjusted_Effective_Price  1384.6423    406.587      3.406      0.001     587.714    2181.571
F_and_B_Inflation_Adjusted_Median_Price    -1552.7813    493.029     -3.149      0.002   -2519.140    -586.423
==============================================================================
Omnibus:                    17256.017   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           182076.033
Skew:                           2.586   Prob(JB):                         0.00
Kurtosis:                      13.853   Cond. No.                     2.32e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.32e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""